<nav class="navbar">

    <div class="logo">
        <img src="assets/images/logo/athira-logo.png" alt="Athira Logo">
        <span>ATHIRA</span>
    </div>

    <ul class="nav-links">

        <li><a href="#home">Home</a></li>

        <li><a href="#about">About</a></li>

        <li><a href="#education">Education</a></li>

        <li><a href="#skills">Skills</a></li>

        <li><a href="#gallery">Gallery</a></li>

        <li><a href="#contact">Contact</a></li>

    </ul>

    <div class="menu-btn">
        <i class="fa-solid fa-bars"></i>
    </div>

</nav>
